/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);



html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    background: #fff;
    font-weight: 300;
    font-size: 15px;
    color: #333;
    -webkit-font-smoothing: antialiased;
}

a {
	color: #555;
	text-decoration: none;
}

.splitContainer {
	width: 100%;
	position: relative;
}

.splitContainer.demo-1 {
	height: 100%;
	position: absolute;
}

.clr {
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}

.main {
	width: 90%;
	margin: 0 auto;
	position: relative;
}

.splitContainer > header,
.content-wrapper {
	padding: 30px;
	width: 80%;
	max-width: 960px;
	margin: 0 auto;
}

.content-wrapper p{
	padding-top: 30px;
	line-height: 26px;
}

.splitContainer > header h1 {
	font-size: 34px;
	line-height: 38px;
	margin: 0;
	font-weight: 700;
	color: #333;
	float: left;
}

.splitContainer > header h1 span {
	display: block;
	font-size: 20px;
	font-weight: 300;
}

/* Navigation Bar */
ul{
	position: absolute;
	float: left;
	text-align: right;
	z-index: 2000;	
	top: 2.5%;
  right: 2.5%;
}

nav ul li{
  display: inline-block;
}

nav ul li:hover{
  display: inline-block;
  
}

nav ul li a{
  color: white;
  font-size: 15px;
  text-transform:uppercase;
  text-decoration:none;
  padding: 5%;
  font-weight: 500;
}

nav ul li a:hover{
  display: inline-block;
  transition-duration: 300ms;
  text-decoration:none;
  color: lime;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

nav ul li a.current-demo,
nav ul li a.current-demo:hover,
nav ul li > .dropdown > .dropdown-content > a.current-demo,
nav ul li > .dropdown > .dropdown-content > a.current-demo:hover{
	color: lime;
  border-bottom: 4px solid transparent;
  border-radius: 0%;
  border-color: lime;
  padding-top: 0;
  padding-bottom: 0;
  transform: scale(1);
  -webkit-transform: scale(1);
}

.dropbtn {
    color: white;
    border: none;
}

.dropbtn a:hover{
transition-duration: 300ms;
color: lime;
transform: scale(1);
  -webkit-transform: scale(1);
}

.dropdown {
    position: relative;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 2;
}

.dropdown-content a{
		display: block;
		padding-top: 0;
  	padding-bottom: 0;
}

.dropdown-content a:hover{
  background:inherit;
  transform: scale(1.2);
	-webkit-transform: scale(1.2);
}

.dropdown:hover .dropdown-content {
		display: block;
		text-align: left;
}

navbar {
  break-after: auto;
}

/* Navigation Bar */

/* Footer */
  footer {
      background-color:inherit;
      color: white;
      padding: 0px;
      position:fixed;
      bottom:0px;
      font-size: 15px;
      text-transform:uppercase;
      font-weight: 500;
      text-decoration:none;
      
    }
    /* Footer images */
    footer a{
      color: lime;
    }

      footer a:hover{
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        color: lime;
        text-decoration:none;
      }
  /* Footer */


/* Home Page */
.homeBody{
	overflow-x: hidden;
	background-color: black;
	background: #000;
}

.homeBody > nav ul li a.current-demo {color: lime;}

  /* Home Images */
.homeImg-wrap{
	padding-top: 10%;
	position: relative;
	width: 30%;
	display: block;
	margin: 0 10%;
  }
  
	  .homeImg-wrap .homeImg{
	  display: table-cell;
	  width: 90%;
	  height: auto;
	  transition: all .4s ease-in;
	  margin:auto;
	  overflow:hidden;
	}
	
  .overlay {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 50%;
	opacity: 0;
	transition: .5s ease;
	background-color: transparent;
	color: white;
	text-align:center;
	padding-top:10%;
	font-size: 15px;
	text-transform:uppercase;
	font-weight: 500;
  }
  
  .homeImg-wrap:hover .overlay {
	opacity: 1;
	z-index: 2;
	}
	
	.homeImg-wrap:hover .homeImg {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	z-index: 3;
	}

/* Home Page */

/* Research pages */
.jumbotron {
	padding: 2rem 1rem;
	background-color: #e9ecef;
	border-radius: 10%;
	margin-top: 10%;  
	height: 65%; 
	overflow-y: scroll;
  }
  
  @media (min-width: 576px) {
	.jumbotron {
	  padding: 4rem 2rem;
	}
  }

	img.leftResearchImg{
		border-radius: 10%;
		margin-right: 15px; 
		margin-top: 5px;
		float: left;
		width: 300px;
		height: auto;
	}
	img.rightResearchImg{
		border-radius: 10%;
		margin-right: 15px; 
		margin-top: 5px;
		float: right;
		width: 300px;
		height: auto;
	}

.demo-1 .bg-1 .sl-slide-inner > ul{
	position: absolute;
	float: left;
	text-align: right;
	z-index: 2000;	
	top: 2.5%;
	right: 2.5%;
}

.demo-1 .bg-1 .sl-slide-inner > section > footer a{
	color: lime;
}

.demo-1 .bg-1 .sl-slide-inner > section >	footer a:hover{
		transform: scale(1.2);
		-webkit-transform: scale(1.2);
		color: lime;
		text-decoration:none;
	}

/* Research pages */

/* First Slide - News */
.demo-1 .timeline > li .news-img {
  position: absolute;
  z-index: 100;
  width: 170px;
  height: 170px;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
	background-clip: content-box;
	margin-left: 0;
	left: 0;
}

.demo-1 .bg-1 .sl-slide-inner,
.demo-1 .bg-1 .sl-content-slice {
	background: rgb(255, 255, 255);
	background-repeat: no-repeat;
	background-position: center;
	overflow-y:scroll; 
	overflow-x:hidden;
}

.demo-1 .bg-1 .sl-slide-inner > nav ul{
	position: absolute;
	float: left;
	text-align: right;
	z-index: 2000;	
	top: 2.5%;
  right: 2.5%;
}

.demo-1 .bg-1 .sl-slide-inner > nav ul li,
.demo-1 .bg-1 .sl-slide-inner > nav ul li:hover{
	display: inline-block;
}



.demo-1 .bg-1 .sl-slide-inner > nav ul li a{
	color: black;
	font-size: 15px;
	text-transform:uppercase;
	text-decoration:none;
	padding: 5%;
	font-weight: 500;
  }

  .demo-1 .bg-1 .sl-slide-inner > nav ul li a:hover{
	display: inline-block;
	transition-duration: 300ms;
	text-decoration:none;
	color: lime;
	transform: scale(1.2);
	-webkit-transform: scale(1.2);	
  }

  .demo-1 .bg-1 .sl-slide-inner > nav ul li a.current-demo,
  .demo-1 .bg-1 .sl-slide-inner > nav ul li a.current-demo:hover{
	color: lime;
  border-bottom: 4px solid transparent;
  border-radius: 0%;
  border-color: lime;
  padding-top: 0;
  padding-bottom: 0;
  transform: scale(1);
  -webkit-transform: scale(1);

}

.demo-1 .bg-1 .sl-slide-inner > nav ul li .dropdown .dropbtn a:hover{
	color: lime;
  
}

.demo-1 .bg-1 .sl-slide-inner > nav ul li .dropdown .dropbtn a:hover{
	transition-duration: 300ms;
	text-decoration:none;
	color: lime;
	transform: scale(1);
  -webkit-transform: scale(1);
  }

  .demo-1 .bg-1 .sl-slide-inner > nav ul li .dropdown {
    position: relative;
    display: block;
}

.demo-1 .bg-1 .sl-slide-inner > nav ul li .dropdown .dropdown-content {
    display: none;
    position: absolute;
		z-index: 2;
		text-align: left;
}

.demo-1 .bg-1 .sl-slide-inner > nav ul li .dropdown .dropdown-content a {
		display: inline-block;
		position: relative;
		padding: 0;
}

.demo-1 .bg-1 .sl-slide-inner > nav ul li .dropdown .dropdown-content a:hover{
	background:inherit;
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
  }

.demo-1 .bg-1 .sl-slide-inner > nav ul li .dropdown:hover .dropdown-content {
	position: absolute;
	display: block;
	padding: 0;
}

  navbar {
	break-after: auto;
  }

  .demo-1 .bg-1 .sl-slide-inner > section > footer {
	background-color:inherit;
	color: white;
	padding: 0px;
	position:fixed;
	bottom:0px;
	font-size: 15px;
	text-transform:uppercase;
	font-weight: 500;
	text-decoration:none;
	
  }

  .demo-1 .bg-1 .sl-slide-inner > footer a {
	color: lime;
  }

  .demo-1 .bg-1 .sl-slide-inner > footer a:hover{
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	color: lime;
	text-decoration:none;
  }

  .demo-1 .bg-1 .sl-slide-inner > section > footer > div.row.justify-content-md-center div.col.col-lg-1  {
	  float: left;
  }

  .demo-1 .bg-1 .sl-slide-inner > section > footer p {
	color: black;
}



.demo-1 div.rounded-circle.img-fluid.news-img-1 {
	background-image: url(../images/News/news1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-clip: content-box;
	background-size: 100%;
}



/* Lab Members */

.demo-1 .labMem-img {
	position: absolute;
	width: 250px;
	height: 250px;
	top: 15%;
	left: 50%;
	margin: 0 0 0 -100px;
	border-radius: 50%;
	padding: 10px;
	box-shadow: inset 0 5px 0 5px white;
}

.demo-1 .bk-img {
	padding: 50px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;	
	background-size: cover;
	background-position: center center;
	opacity: .8;
	background-repeat: no-repeat;
	background-position: center;
}

.demo-1 .bg-2 .sl-slide-inner,
.demo-1 .bg-2 .sl-content-slice,
.demo-1 .bg-3 .sl-slide-inner,
.demo-1 .bg-3 .sl-content-slice,
.demo-1 .bg-4 .sl-slide-inner,
.demo-1 .bg-4 .sl-content-slice {
	background: black;
}

.demo-1 .sl-slide.bg-2 h2,
.demo-1 .sl-slide.bg-3 h2,
.demo-1 .sl-slide.bg-4 h2 {
	color: white;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.demo-1 .bg-2 blockquote,
.demo-1 .bg-3 blockquote,
.demo-1 .bg-4 blockquote {
	color: white;
}

.demo-1 .bg-2 .sl-slide-inner > footer,
.demo-1 .bg-3 .sl-slide-inner > footer,
.demo-1 .bg-4 .sl-slide-inner > footer
 {
	background-color:inherit;
	color: transparent;
	padding: 0px;
	position:fixed;
	bottom:0px;
	font-size: 15px;
	text-transform:uppercase;
	font-weight: 500;
	text-decoration:none;
	background-color: transparent;
	
  }

	.demo-1 .bg-2 .sl-slide-inner > footer a,
	.demo-1 .bg-3 .sl-slide-inner > footer a,
	.demo-1 .bg-4 .sl-slide-inner > footer a {
	color: lime;
	background-color: transparent;
  }

	.demo-1 .bg-2 .sl-slide-inner > footer a:hover,
	.demo-1 .bg-3 .sl-slide-inner > footer a:hover,
	.demo-1 .bg-4 .sl-slide-inner > footer a:hover{
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	color: lime;
	text-decoration:none;
  }

	.demo-1 .bg-2 .sl-slide-inner > footer > div.row.justify-content-md-center div.col.col-lg-1,
	.demo-1 .bg-3 .sl-slide-inner > footer > div.row.justify-content-md-center div.col.col-lg-1,
	.demo-1 .bg-4 .sl-slide-inner > footer > div.row.justify-content-md-center div.col.col-lg-1{
	  float: left;
  }

	.demo-1 .bg-2 .sl-slide-inner > footer p,
	.demo-1 .bg-3 .sl-slide-inner > footer p,
	.demo-1 .bg-4 .sl-slide-inner > footer p{
	color: white;
}

/* Dr. Putzke */
.demo-1 .labMem-img-1 {
	background-image: url(../images/Lab_Members/About1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-clip: content-box;
	background-size: 150%;
}

.demo-1 .bk-img-1 {
	background-image: url(../images/Lab_Members/Bkg_Img1.jpg);
}

/* Person 2 */

.demo-1 .labMem-img-2 {
	background-image: url(../images/Lab_Members/ww1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-clip: content-box;
	background-size: 200%;
}

.demo-1 .bk-img-2 {
	background-image: url(../images/Lab_Members/Bkg_Img2.jpg);
}

/* Person 3 */

.demo-1 .labMem-img-3 {
	background-image: url(../images/Lab_Members/flash1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-clip: content-box;
	background-size: 200%;
}

.demo-1 .bk-img-3 {
	background-image: url(../images/Lab_Members/Bkg_Img3.jpg);
}

/* Person 4 */

.demo-1 .labMem-img-4 {
	background-image: url(../images/Lab_Members/batman1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-clip: content-box;
	background-size: 200%;
}

.demo-1 .bk-img-4 {
	background-image: url(../images/Lab_Members/Bkg_Img4.jpg);
}

div.sl-slider > div.sl-slide.bg-4 > div.sl-slide-inner > blockquote p{
/* Fallback for web browsers that doesn't support RGBa */
background: rgba(255, 255, 255, 0.6) transparent;
/* RGBa with 0.6 opacity */
background: rgba(255, 255, 255, 0.6);
/* For IE 5.5 - 7*/
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
/* For IE 8*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
color: #fff;
}


/* Lab Members */


/*About */

.aboutBody{
	overflow-x: hidden;
	background-color: black;
	background-image: url(../images/About/AboutBkg.jpg);
	background-repeat: no-repeat;
}

/*Resouces */

.resourceBody{
	overflow-x: hidden;
	background-color: black;
	background-image: url(../images/Resources/resourcesBkg.jpg);
	background-repeat: no-repeat;
}

.resourceBody > nav ul li a.current-demo {color: lime;}



