/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
    font-family: 'AnimalsNormal';
    src: url('fonts/animals-webfont.eot');
    src: url('fonts/animals-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/animals-webfont.woff') format('woff'),
         url('fonts/animals-webfont.ttf') format('truetype'),
         url('fonts/animals-webfont.svg#AnimalsNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    background: #fff;
    font-weight: 300;
    font-size: 15px;
    color: #333;
    -webkit-font-smoothing: antialiased;
}

a {
	color: #555;
	text-decoration: none;
}

.splitContainer {
	width: 100%;
	position: relative;
}

.splitContainer.demo-1 {
	height: 100%;
	position: absolute;
}

.clr {
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}

.main {
	width: 90%;
	margin: 0 auto;
	position: relative;
}

.splitContainer > header,
.content-wrapper {
	padding: 30px;
	width: 80%;
	max-width: 960px;
	margin: 0 auto;
}

.content-wrapper p{
	padding-top: 30px;
	line-height: 26px;
}

.splitContainer > header h1 {
	font-size: 34px;
	line-height: 38px;
	margin: 0;
	font-weight: 700;
	color: #333;
	float: left;
}

.splitContainer > header h1 span {
	display: block;
	font-size: 20px;
	font-weight: 300;
}



/* Navigation Bar */
ul{
	position: absolute;
	float: left;
	text-align: right;
	z-index: 2000;	
	top: 2.5%;
	right: 2.5%;
}

nav ul li{
  display: inline-block;
}

nav ul li a{
  color: white;
  font-size: 15px;
  text-transform:uppercase;
  text-decoration:none;
  padding: 3px;
  font-weight: 500;
  
}

nav ul li a:hover{
  transition-duration: 300ms;
  text-decoration:none;
  color: limegreen;
}

nav ul li a.current-demo{
	color: rgb(255, 255, 255);
  border-bottom: 4px solid transparent;
  border-radius: 0%;
  border-color: rgb(255, 255, 255);
  padding-bottom: 0;

}


.homeImg-wrap{
  padding-top: 10%;
  text-align: center;
    }
    
    .homeImg-wrap > a{
 	display:inline-block;
      vertical-align: middle;
      
      border-left: 20px;
      border-right: 20px;
			}
	.homeImg-wrap a img{
      display:block;
      
      
	}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.overlay:hover {
  opacity: 1;
}

.dropbtn {
    color: white;
    border: none;  
}

.dropbtn a:hover{
transition-duration: 300ms;

}

.dropdown {
    position: relative;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 2;
}

.dropdown-content a {
    display: block;
}

.dropdown-content a:hover{
  background:inherit;
}

.dropdown:hover .dropdown-content {
    display: block;
}
    footer {
      background-color:inherit;
      color: white;
      padding: 0px;
      position:fixed;
      bottom:0px;
    }
navbar {
  break-after: auto;
}